doctype html(lang='en')
head
    //
      Basic Page Needs
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    meta(charset='utf-8')
    |
    title Twitter Client
    |
    meta(name='description', content='')
    |
    meta(name='author', content='')
    include header/mobileMetas.pug

    include header/fonts.pug

    include header/css.pug

include body/body.pug

block content
